<div class="card">
  <div class="image">
    <img class="img-responsive" src="http://dummyimage.com/500x400/000/fff.png">
    <div class="info">
      <h3><%= dummy_text() %></h3>
      <div class="source">Via Medium</div>
      <p class="hidden-xs">By unearthing and amplifying stories that move ideas, culture, and art forward, we hope to foster a more meaningful online experience for everyone.</p>
    </div>
  </div>
</div>
